/* Đặt kiểu cho toàn bộ trang */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Đặt kiểu cho container */
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

/* Đặt kiểu cho tiêu đề */
h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

/* Đặt kiểu cho label và input */
label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
}
.g-recaptcha {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: calc(100%);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Đặt kiểu cho nút submit */
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
