.content_form {
    display: flex;
    padding: 20px;
    padding-top: 0;
    height: 82vh;
    }

    
    .container {
    width: 50%;
    margin: 10px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .list_require {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-left: 20px;
    width: 70%;
    height: 100%;
    overflow: auto;
    }
    .duyet_content {
    padding: 20px;
    padding-top: 0;
    }
    .duyet_container {
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    }
    h1, h2 {
    text-align: center;
    color: #333;
    }
    
    form {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    form label {
    width: 100%;
    font-weight: bold;
    text-align: left; /* Căn chữ trong thẻ label về bên trái */
    }
    .error-message {
    color: red;
    text-align: center;
    }
    
    form input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    }
    
    form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    }
    
    form input[type="submit"]:hover {
    background-color: #45a049;
    }