.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 20px;
    background-color: #343a40;
    border-bottom: 1px solid #fff;
}
.user_infor a {
    color: #fff;
    text-decoration: none;
}

.balance {
    color: #fff;
    font-size: 18px;
}
